<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
            colors="true"
            verbose="true"
            stopOnFailure="false">
    <testsuites>
        <testsuite name="Test suite">
        
        <file>tests/DAO/DAOClienteTest.php</file>
        <file>tests/DAO/DAODepartamentoTest.php</file>
        <file>tests/DAO/DAOPedidoTest.php</file>
        <file>tests/API/PedidoCadastrarTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>